<body onload="Check()">

    @{
        ViewBag.Title = "Home Page";
    }



    <form action="/Home/LogIn" method="post">
        <br />

        <fieldset class="form-group">
            User Name: <input type="text" id="name" class="form-control" maxlength="32" name="UserName" pattern="[A-Za-z]{1,32}" /><br />

            Choose a Color:
            <select id="colorChosen" name="Color" class="form-control">
                <option value="green">Green</option>
                <option value="lightblue">Lightblue</option>
                <option value="yellow">Yellow</option>
                <option value="firebrick">Firebrick</option>
            </select><br />
            @*string security = document.getElementById("security").value;*@

            Favorite Food: <input type="text" id="fave" maxlength="32" class="form-control" name="FavoriteFood" pattern="[A-Za-z]{1,32}" /><br />
        </fieldset>
        <input id="submit" type="submit" onclick="return true;" value="Submit Registration!" /><br />

    </form>

    @*<script>
            function NameCheck() {
                //if (Session["UserName"] !== null) {
                var x = Session["UserName"];
                    document.getElementById("name").value = /*Session["UserName"]*/x;

                //}
            }
        </script>
        <script>
            function ColorCheck() {
                //if (Session["Color"] !== null) {
                var x = Session["Color"];
                    document.getElementById("colorChosen").value = /*Session["Color"]*/x;

                //}
            }
        </script>
        <script>
            function FoodCheck() {
                //if (Session["FavoriteFood"] !== null) {
                var x = Session["FavoriteFood"];
                    document.getElementById("fave").value = /*Session["FavoriteFood"]*/x;

                //}
            }
        </script>*@
    <script>
        @*if (@Session["UserName"] != null) {
            var a = @Session["UserName"];
            var b = @Session["Color"];
            var c = @Session["FavoriteFood"];*@
            function Check() {
                document.getElementById("name").value = "@Session["UserName"]";
                document.getElementById("colorChosen").value = "@Session["Color"]";
                document.getElementById("fave").value = "@Session["FavoriteFood"]";
            //}
        }
    </script>
</body>
<style>
    body{
        background-color: @Session["Color"];
        color: white;
    }
</style>
